@using Thread.Foundation.Dictionary.Statics
@using Thread.Foundation.Mvc.Extensions
@model Thread.Feature.Banners.Models.TextBannerModel

@if (Html.Sitecore().HasValueOrEditing(Model.Datasource.Title))
{
  <section class="text-banner container @Model.ThemeClass @Model.ExcludeTopMarginClass">
    @if (Html.Sitecore().HasValueOrEditing(Model.Datasource.Title))
    {
      <h2 class="text-banner__title mainsection" id="textbanner-@Model.Datasource.ID">@Html.Sitecore().Field(Model.Datasource.Title)</h2>
    }
    @if (Html.Sitecore().HasValueOrEditing(Model.Datasource.Subtitle))
    {
      <p class="text-banner__description subheader2">@Html.Sitecore().Field(Model.Datasource.Subtitle)</p>
    }
    @if (Html.Sitecore().HasValueOrEditing(Model.Datasource.Link))
    {
      <div class="text-banner__cta">
        @Html.Sitecore().BeginField(Model.Datasource.Link, new { @class = "btn btn--primary btn--ghost btn--on-blue", aria_labelledby = "textbanner-" + Model.Datasource.ID })
        @if (!Sitecore.Context.PageMode.IsExperienceEditorEditing && string.IsNullOrEmpty(Model.Datasource.Link.Text))
        {
          @Html.Raw(EditableTranslate.Text("Banners.TextBanner.ReadMore"))
        }
        @Html.Sitecore().EndField()
      </div>
    }
  </section>
}