import React from 'react';
/* PLOP_INJECT_STYLES */
/* PLOP_INJECT_PROPTYPES */

const {{pascalCase name}} = (props) => {
  const {} = props;

  return (
    <div className="container {{kebabCase name}}">{{ titleCase name}} Template</div>
  );
};

{{pascalCase name}}.propTypes = propTypes;
export default {{pascalCase name}};