@using AtriusHealth.Foundation.Dictionary.Statics
@using AtriusHealth.Foundation.Dictionary.Repositories
@using AtriusHealth.Foundation.Theme.Extensions
@model AtriusHealth.Feature.Account.Models.MemberAccountSecurityModel

<fieldset class="account-form__fieldset">
    <div class="account-form__field-group">
        <legend class="form-legend">
            <span class="form-legend__legend-heading">
                @Html.Raw(EditableTranslate.Text("Account.AccountSecurity.ResetPassword.Subtitle"))
            </span>
            <div class="form-legend__legend-description">
                @Html.Raw(EditableTranslate.Text("Account.AccountSecurity.ResetPassword.Description"))
            </div>
            @if (!string.IsNullOrEmpty(Dictionary.Current.Get("Account.AccountSecurity.ResetPassword.Message")))
            {
                <div class="form-legend__legend-message">
                    @Html.RenderSvg("info-circle")
                    <div class="form-legend__legend-message-body">
                        @Html.Raw(EditableTranslate.Text("Account.AccountSecurity.ResetPassword.Message"))
                    </div>
                </div>
            }
        </legend>        
        <div class="account-form__fields account-form__fields--50-50">
            <label class="sc-form-item js-form-required">
                <span class="sc-form-item__label">@Html.Raw(EditableTranslate.Text("Account.AccountSecurity.ResetPassword.CurrentPasswordLabel"))</span>
                @Html.TextBoxFor(m => m.CurrentPassword, new {type = "password", @class = "sc-form-item__field js-new-password", value = string.Empty, aria_required = "true" })
                <span role="alert" class="sc-form-item__error-msg">Your current password was entered incorrectly</span>
            </label>
            <label class="sc-form-item">
                <span class="sc-form-item__label">@Html.Raw(EditableTranslate.Text("Account.AccountSecurity.ResetPassword.NewPasswordLabel"))</span>
                @Html.TextBoxFor(m => m.NewPassword, new {type = "password", @class = "sc-form-item__field js-new-password", value = string.Empty, data_type = "password" })
                <span role="alert" class="sc-form-item__error-msg">Your new password is not a valid password</span>
                <div class="sc-form-item__helper-text">
                    @if (!string.IsNullOrEmpty(Dictionary.Current.Get("Account.AccountSecurity.ResetPassword.PasswordDescription")))
                    {
                        @Html.RenderSvg("info-circle")
                    <span>
                        @Html.Raw(EditableTranslate.Text("Account.AccountSecurity.ResetPassword.PasswordDescription"))
                    </span>
                    }
                </div>
            </label>
        </div>
    </div>
</fieldset>
